@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Lora:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


.tooltip {
    position: relative;
    display: inline-block;
    /* font-family:Lora; */
  
  }
  
 
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #F8FAFC;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 2px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left:140%; 
    box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    /* margin-left:-50px; */
    opacity:0;
    transition:opacity 0.3s;
  }
  /* .tooltip .tooltiptext::after{
    content:"";
    position:absolute;
     top:100%; 
    left:50%; 
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */
  

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity:1 ;
    width: 110px;
    padding: 3px 0;
  }